<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="background-color: #1e1e1e;" color= "success" defaultHref="/main/carrinho"></ion-back-button>
    </ion-buttons>
    <ion-item>
      <ion-grid style="margin-left: 50px;">
        <ion-text color="success">
          <h4><strong>Endereços:</strong></h4>
        </ion-text>
      </ion-grid>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="margin-top: 25px;">
    <ion-item style="margin-top: 5px;" *ngFor="let endereco of endereco" [routerLink]="['/edit', endereco.log, endereco.numCasa, endereco.comp]">
    
      <ion-icon style="margin-left: 1px; font-size:x-large;" name="location-outline"></ion-icon>
      
      <ion-grid>
        <p>{{endereco.log}} , {{endereco.numCasa}} , {{endereco.comp}}</p>
      </ion-grid> 
    
    </ion-item>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color= "success" routerLink="/create-endereco">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
