.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#282828;
  color: white;
  text-align: center;
  font-size: x-small;
  color:#686868;
}

.footer2 {
  position: fixed;
  left: 0;
  bottom: 15%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: x-small;
  color:#686868;
}

