<ion-header>
  <ion-toolbar>
    <ion-title color="success">
      <h1>Barraca do Zé</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="success">
    <h1>Frutas</h1>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <h5>Abacates (1 u)</h5>
      </ion-row>
      <h6>R$ 4,50</h6>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <h5>Banana (1 cacho)</h5>
      </ion-row>
      <ion-row>
        <h6>R$ 4,99</h6>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <h5>Uva (500 g)</h5>
      </ion-row>
      <ion-row>
        <h6>R$ 10,79</h6>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <h5>Laranja (1 kg)</h5>
      </ion-row>
      <ion-row>
        <h6>R$ 1,75</h6>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <h5>Maçã (1 kg)</h5>
      </ion-row>
      <ion-row>
        <h6>R$ 3,22</h6>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item color="success">
    <h1>Verduras</h1>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <h5>Tomates (100 g)</h5>
      </ion-row>
      <ion-row>
        <h6>R$ 3,99</h6>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <h5>Alface (1 maço)</h5>
      </ion-row>
      <ion-row>
        <h6>R$ 1,72</h6>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item color="success">
    <h1>Pastéis</h1>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <h5>Pastel de Queijo (1 u)</h5>
      </ion-row>
      <ion-row>
        <h6>R$ 6,00</h6>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <h5>Pastel de Pizza (1 u)</h5>
      </ion-row>
      <ion-row>
        <h6>R$ 6,00</h6>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <h5>Pastel de Carne (1 u)</h5>
      </ion-row>
      <ion-row>
        <h6>R$ 6,00</h6>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-content>