<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-grid style="text-align: center;">
        <ion-text color="success">
          <h4><strong>FORMAS DE PAGAMENTO</strong></h4>
        </ion-text>
      </ion-grid>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 25px;">
    <ion-item *ngFor="let cartao of cartao" [routerLink]="['/edit', cartao.numCartao, cartao.name]">
      <ion-icon style="margin-left: 1px; font-size:x-large;" name="card-outline"></ion-icon>
      <ion-grid>
        <p>&nbsp;&nbsp;&nbsp;{{cartao.name}}</p>
      </ion-grid>
        <p>•••• {{cartao.numCartao.substring(15)}}</p>
    </ion-item>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color= "success" routerLink="/create-pagamento">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>