<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-grid style="text-align: center;">
        <ion-text color="success">
          <h6>FORMAS DE PAGAMENTO</h6>
        </ion-text>
      </ion-grid>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 10px;"></ion-grid>
  <ion-grid>
    <ion-item>
      <ion-icon style="margin-left: 1px; font-size:x-large;" name="card-outline"></ion-icon>
      <ion-grid>
        <p>&nbsp;&nbsp;&nbsp;Mastercard - Crédito</p>
      </ion-grid>
      <p>•••• 1235</p>
    </ion-item>
  </ion-grid>

  <ion-grid style="margin-top: 25px;">
    <ion-item>
      <ion-icon style="margin-left: 1px; font-size:x-large;" name="card-outline"></ion-icon>
      <ion-grid>
        <p>&nbsp;&nbsp;&nbsp;Visa - Débito</p>
      </ion-grid>
      <p>•••• 5678</p>
    </ion-item>
  </ion-grid>

  <ion-grid style="margin-top: 25px;">
    <ion-item>
      <ion-icon style="margin-left: 1px; font-size:x-large;" name="card-outline"></ion-icon>
      <ion-grid>
        <p>&nbsp;&nbsp;&nbsp;Mastercard - Débito</p>
      </ion-grid>
      <p>•••• 9876</p>
    </ion-item>
  </ion-grid>

  <ion-grid style="margin-top: 25px;">
    <ion-item>
      <ion-icon style="margin-left: 1px; font-size:x-large;" name="card-outline"></ion-icon>
      <ion-grid>
        <p>&nbsp;&nbsp;&nbsp;Visa - Crédito</p>
      </ion-grid>
      <p>•••• 5432</p>
    </ion-item>
  </ion-grid>

  <ion-grid style="margin-top: 25px;">
    <ion-item>
      <ion-icon style="margin-left: 1px; font-size:x-large;" name="card-outline"></ion-icon>
      <ion-grid>
        <p>&nbsp;&nbsp;&nbsp;Visa - Crédito</p>
      </ion-grid>
      <p>•••• 4784</p>
    </ion-item>
  </ion-grid>

  <ion-grid style="margin-top: 25px;">
    <ion-item>
      <ion-icon style="margin-left: 1px; font-size:x-large;" name="card-outline"></ion-icon>
      <ion-grid>
        <p>&nbsp;&nbsp;&nbsp;Elo - Crédito</p>
      </ion-grid>
      <p>•••• 6412</p>
    </ion-item>
  </ion-grid>

  <ion-grid style="margin-top: 20px; margin-bottom: 30px;">
    <ion-button color="success" expand="block" fill="outline">Adicionar novo cartão</ion-button>
  </ion-grid>



</ion-content>