<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-grid style="text-align: center;">
        <ion-text color="success">
          <h6>FORMAS DE PAGAMENTO</h6>
        </ion-text>
      </ion-grid>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color= "success" routerLink="/create-pagamento">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>