<ion-header>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pedidos">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label>Pedidos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="carrinho">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrinho</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pagamento">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Pagamento</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>