<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="background-color: #1e1e1e;" color="success" defaultHref="/main/perfil"></ion-back-button>
    </ion-buttons>
    <ion-item>
      <ion-grid style="margin-left: 50px;">
        <ion-text color="success">
          <h4><strong>Notificações:</strong></h4>
        </ion-text>
      </ion-grid>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-item style="--ion-item-background:transperent;">

      <h5>Notificações sobre o pedido</h5>

      <ion-col style="margin-left: 25px;">
        <ion-toggle color="success"></ion-toggle>
      </ion-col>

    </ion-item>



    <ion-item style="--ion-item-background:transperent;">

      <h5>Email</h5>

      <ion-col style="margin-left: 200px;">
        <ion-toggle color="success"></ion-toggle>
      </ion-col>

    </ion-item>

    <ion-item style="--ion-item-background:transperent;">

      <h5>WhatsApp</h5>

      <ion-col style="margin-left: 162px;">
        <ion-toggle color="success"></ion-toggle>
      </ion-col>

    </ion-item>

  </ion-grid>


</ion-content>