<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="ti">
      <ion-text color="success">
      <h1 style="text-align: center;"><strong> Sacola </strong></h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid style="margin-left: 10px; margin-right:10px;margin-bottom: 5px;">
<ion-item style="margin-top: 13px; margin-bottom: -11px;">
  <ion-text color="success">
  <h4 style="border-bottom: solid;"><strong>Entrega :</strong></h4>
  </ion-text>
</ion-item>
<ion-item >
  <h6 style="color:grey;">Entregar em:</h6>
</ion-item>


<ion-item >
  <ion-icon name="navigate-outline"></ion-icon>
  <h4 style="margin-left: 5px;">R. Ibituruna, 416 - Vila da Saude - Apto 103</h4>
  <ion-col style="text-align: right;">  
  <ion-text color="success">
    <ion-icon style="margin-left: 170px;" name="chevron-forward-outline"></ion-icon>  
  </ion-text>
</ion-col>
</ion-item>


<ion-item> 
  <ion-icon name="alarm-outline"></ion-icon>
  <h4 style="margin-left: 5px;">10 - 15 mins</h4>
</ion-item>
</ion-grid>

<ion-grid style="margin-left: 10px; margin-right:10px;">
  <ion-item>
    <ion-text color="success">
    <h2><strong>Produtos :</strong></h2>
  </ion-text>
  </ion-item>
  
  <ion-item>
    <ion-col>
      <h5>5 x Tomates</h5> 
    </ion-col>
    <ion-col style="text-align: right;">  
      <h5>R$ 50,00</h5>
    </ion-col>
    </ion-item>

  <ion-item>
    <ion-col>
      <h5>2 x Abacates</h5> 
    </ion-col>
    <ion-col style="text-align: right;">  
      <h5>R$ 25,00</h5>
    </ion-col>
  </ion-item>
  
  <ion-item>
    <ion-col>
      <h5>1 Pastel Pizza</h5> 
    </ion-col>
    <ion-col style="text-align: right;">  
      <h5>R$ 6,00</h5>
    </ion-col>
 </ion-item>
 
 <ion-item>
  <ion-col>
    <h5>1 Cacho de Banana</h5> 
  </ion-col>
  <ion-col style="text-align: right;">  
    <h5>R$ 15,00</h5>
  </ion-col>
</ion-item>

<ion-item>
  <ion-col>
    <h5>1 Cacho de Uva</h5> 
  </ion-col>
  <ion-col style="text-align: right;">  
    <h5>R$ 12,00</h5>
  </ion-col>
</ion-item>

<ion-item>
  <ion-grid style="text-align: center;">
  <ion-text color="success">
  <h6>Adicionar mais items</h6>
  </ion-text>
  </ion-grid>
</ion-item>

<ion-item>
  <ion-col>
    <h5 style="color:thistle">Subtotal</h5> 
  </ion-col>
  <ion-col style="text-align: right;">  
    <h5 style="color:thistle">R$ 108,00</h5>
  </ion-col>
</ion-item>

<ion-item style="margin-top: -20px;">
  <ion-col>
    <h5 style="color:thistle">Taxa de Entrega</h5> 
  </ion-col>
  <ion-col style="text-align: right;">  
    <h5 style="color:thistle">R$ 10,00</h5>
  </ion-col>
</ion-item>

<ion-item>
  <ion-col>
    <h5 style="color:thistle">Total</h5> 
  </ion-col>
  <ion-col style="text-align: right;">  
    <h5 style="color:thistle">R$ 118,00</h5>
  </ion-col>
</ion-item>

</ion-grid>

<ion-grid style="margin-left: 10px; margin-right:10px;">
  <ion-item>
    <ion-text color="success">
    <h2><strong>Pagamento :</strong></h2>
  </ion-text>
  </ion-item>
  
  <ion-item>
    
    <ion-icon name="card-outline"></ion-icon>
    <h5 style="margin-left: 10px;">Visa **** 1234</h5>
 
  <ion-col style="text-align: right;">
    <ion-text color="success">
    <h5 style="margin-left: 10px;">Trocar</h5>
    </ion-text>
  </ion-col>
  </ion-item>


    <ion-button style="margin-top: 8px;" size="large" color = "success" expand="full" fill="outline">Fazer Pedido</ion-button>


</ion-grid>




</ion-content>
